[user]
	email = gitconfig@gr.ht
	name = Gregory Mullen
	signingkey = A
[push]
	default = current
[alias]
	g     = log -n20 --all --color --graph --pretty=format:'%C(auto)%h%C(auto)%d%C(reset) %C(dim green)(%cr)%C(reset) -- %C(white)%s'
	graph = log --all --color --graph --pretty=format:'%C(auto)%h%C(auto)%d%C(reset) %C(green)(%cr)%C(reset)%n	%C(white)%s %C(bold black)--%an%C(reset) %C(red)%G?%C(reset)%w(0,6,6)%+b'
	gl = log --graph --abbrev-commit --decorate --format=format:'%C(auto)%h%C(reset) -%C(auto)%d%C(reset) %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	co = checkout
	commit-to = !git commit && read -p \"New branch name: \" newbranch && git checkout -b $newbranch && git checkout main && git reset --mixed HEAD^
	st = status
	s = status
	mt = mergetool
	d = difftool -y -x icdiff
	l = log --oneline
	p = push
	fix = commit -a --fixup
	pf = push --force
	quickfix = !git commit -a --amend --no-edit && git push --force
	fixup = commit -a --fixup HEAD
	recommit = commit -S --amend --no-edit
	ff = merge
	amend = commit -a --amend --no-edit
	ds = diff --stat
	f = fetch
	fa = fetch --all
	sw = switch
	stgd = diff --cached
[core]
	editor = nvim
[commit]
	gpgsign = false
[rebase]
	autoSquash = true
[rerere]
	enabled = true
[diff]
	algorithm = histogram
[init]
	defaultBranch = main
[pull]
	ff = only
