/*

!/.bin

!/.config
/.config/*
!/.config/nvim

!/.config/alacritty
/.config/alacritty/themes
# themes is it's own git repo 

!/.gitignore

/.gitconfig
# git update-index ../../.gitconfig --skip-worktree 
/.bin/twitch-stream
# git update-index ../../.bin/twitch-stream --skip-worktree 
