/*

!/.bin
/.bin/twitch-stream
# added in the stream key, lets hope I don't forget if I need to modify it :D

!/.config
/.config/*
!/.config/nvim

!/.config/alacritty
/.config/alacritty/themes
# themes is it's own git repo 

!/.gitignore
